/* GLOBAL PROPERTIES */
.root {
    -fx-font-family: 'Arial';
}

#mainContainer, #categoriesContainer {
    -fx-background-color: #ffffff;
}

.button:hover {
	-fx-cursor: hand;
}

/* TOP BAR */
#topBar {
    -fx-background-color: #930fff;
    -fx-font-size: 17px;
    -fx-font-weight: bold;
}

#topBar .label {
    -fx-text-fill: #ffffff;
}

#topBar .button {
    -fx-padding: 1px;
    -fx-text-fill: #ffffff;
    -fx-background-color: #930fff;
}

/* CHOICE BOX */
.choice-box {
    -fx-background-color: #ffffff;
    -fx-padding: 5px;
    -fx-font-size: 13px;
}

/* CATEGORIES CONTAINER */
.scroll-pane {
    -fx-border-color: #ffffff;
}

#categoriesContainer {
    -fx-padding: 10px;
    -fx-font-size: 13px;
}

#categoriesContainer .separator {
    -fx-padding: 10px 0 10px 0;
}

/* CATEGORY BUTTONS */
#categoriesContainer {
    -fx-padding: 2 !important;
}

#categoriesContainer .button {
    -fx-background-color: #ffffff;
    -fx-text-fill: #000000;
    -fx-padding: 3px;
    -fx-wrap-text: true;
}

/* ENTER INFO CONTAINER */
#enterInfoContainer {
    -fx-font-size: 13px;
    -fx-border-color: #c4c4c4;
}

#chosenCategory, #amountLabel {
    -fx-font-size: 14px;
    -fx-padding: 4px;
}

#enterInfoContainer .button {
    -fx-background-color: #ffffff;
    -fx-border-color: #c4c4c4;
    -fx-pref-width: 500px;
}

#enterInfoContainer .button:pressed {
    -fx-background-color: #c4c4c4;
}

#okButton {
    -fx-background-color: #930fff !important;
    -fx-text-fill: #ffffff !important;
}