/* GLOBAL PROPERTIES */
.root {
    -fx-font-family: 'Arial';
}

#mainContainer, #contentContainer {
    -fx-background-color: #ffffff;
}

.button:hover {
	-fx-cursor: hand;
}

/*
.button {
    -fx-padding: 5px 5px 5px 5px;
    -fx-background-color: #ffffff;
    -fx-text-fill: #000000;
    -fx-border-radius: 2px;
    -fx-border-color: #930fff;
}

.button:hover {
    -fx-text-fill: #ffffff;
	-fx-background-color: #930fff;
	-fx-cursor: hand;
}
*/

/* TOP BAR */
#topBar {
    -fx-background-color: #930fff;
    -fx-font-size: 17px;
    -fx-font-weight: bold;
}

#topBar .label {
    -fx-text-fill: #ffffff;
}

#topBar .button {
    -fx-padding: 1px;
    -fx-text-fill: #ffffff;
    -fx-background-color: #930fff;
}

/* CONTENT CONTAINER */
#contentContainer {
    -fx-padding: 10px;
    -fx-font-size: 14px;
}

#contentContainer .separator {
    -fx-padding: 10px 0 10px 0;
}

/* BUDGETS */
.budgetItem {
    -fx-padding: 5px 0 0 0;
    -fx-cursor: hand;
}

.budgetTitle {
    -fx-font-weight: bold;
    -fx-padding: 0 0 5px 0;
}

.budgetAmountLeft {
    -fx-font-size: 12px;
}

.progressBarContainer {
    -fx-alignment: center-left;
}

.progressBarContainer .label {
    -fx-font-size: 12px;
    -fx-text-fill: #ffffff;
    -fx-padding: 0 0 0 7px;
}

.progress-bar {
    -fx-accent: #930fff;
    -fx-box-border: #000000;
    -fx-pref-width: 500px;
}

.progress-bar > .track {
  -fx-control-inner-background: #d9d9d9;
}

/* BOTTOM BAR */
#bottomBar {
    -fx-background-color: #f7f7f7;
}

#bottomBar .button {
    -fx-content-display: top;
    -fx-background-color: transparent;
}

#selectedMenuButton {
    -fx-text-fill: #930fff;
}

#notSelectedMenuButton {
    -fx-text-fill: #c4c4c4;
}